.iTrans {
    position: relative;
    padding-top: 1rem;
    border-bottom-style: solid;
    border-bottom-color: rgba(165, 165, 165, 0.3);

    .info .name {
        display: inline-block;
        margin-left: 0.5rem;
        font-weight: 500;
    }

    .info img {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: 0.5rem;
    }

    .info .note {
        margin-left: 10%;
        font-size: 0.8rem;
    }

    .info .consume {
        position: absolute;
        left: 90%;

    }
}

.iTrans:hover {
    cursor: pointer;
    background-color: rgba(165, 165, 165, 0.3);
}

/* RESPONSIVE */
/* PC */
@media (min-width: 1024px) {}

/* Tablet & Mobile*/
@media (max-width: 1023px) {}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .iTrans {

        .info .name {}

        .info img {
            width: 40px !important;
            height: 40px !important;
        }

        .info .note {}

        .info .consume {
            left: 90%;

        }
    }
}

/* Moile */
@media (max-width: 767px) {
    .iTrans {
        .info .name {}

        .info img {
            width: 40px !important;
            height: 40px !important;
        }

        .info .note {}

        .info .consume {
            left: 90%;
        }
    }
}